.avatar-container {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
  user-select: none;
  background-color: #ccc;
  border: 2px solid white; // Bordure blanche par défaut comme sur tes maquettes

  // Tailles prédéfinies
  &.small { width: 28px; height: 28px; font-size: 0.8rem; border-width: 1px; }
  &.medium { width: 40px; height: 40px; font-size: 1rem; }
  &.large { width: 130px; height: 130px; font-size: 3rem; border-width: 4px; }

  .avatar-img { width: 100%; height: 100%; object-fit: cover; }
}
