<article
  class="project-card"
  [ngClass]="variant"
  [routerLink]="['/project', project.id]">

  <div class="card-image-container">
    <img [src]="project.imageUrl" [alt]="project.title" class="project-img" />
  </div>

  <div class="card-content">

    <div class="card-header">

      <div class="author-info">
        @if (isGroup) {
          <div class="icon-group">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="group-svg">
              <path d="M17 20h5v-2a3 3 0 0 0-5.3-1.12.5.5 0 1 1-.88-.48A4 4 0 0 1 24 18v4h-7v-2zm-3-4a4 4 0 0 0-4-4H4a4 4 0 0 0-4 4v4h14v-4zM7 14a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm10-3a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-7-1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
            </svg>
          </div>
        } @else {
          <img
            [src]="project.authors[0].avatarUrl || 'assets/images/no_image.jpg'"
            [alt]="authorLabel"
            class="author-avatar" />
        }

        <span class="author-name">{{ authorLabel }}</span>
      </div>

      <button
        class="favorite-btn"
        [class.active]="project.isFavorite"
        (click)="onFavoriteClick($event)"
        aria-label="Ajouter aux favoris">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" [attr.fill]="project.isFavorite ? 'currentColor' : 'currentColor'" class="heart-icon">
          <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
        </svg>
      </button>

    </div>

    <h3 class="card-title">{{ project.title }}</h3>

    <p class="card-description">{{ project.description }}</p>

  </div>
</article>
