@import './variables';

.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - #{$header-height}); // Prend toute la hauteur moins le header
  background-color: $color-bg-hero; // Fond clair coquille d'oeuf
  padding: 2rem;
}

.auth-card {
  background-color: #2E0D16; // Couleur sombre précise de ta maquette (Marron/Violet très foncé)
  color: white;
  width: 100%;
  max-width: 500px;
  padding: 3rem;
  border-radius: 40px; // Arrondis très prononcés comme sur l'image
  box-shadow: 0 20px 50px rgba(0,0,0,0.1);
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    font-weight: 800;
  }

  .form-group {
    text-align: left;
    margin-bottom: 1.5rem;

    label {
      display: block;
      font-weight: 700;
      font-size: 0.9rem;
      margin-bottom: 0.5rem;

      .required { color: #E8501D; } // L'astérisque orange
    }

    input {
      width: 100%;
      height: 45px; // Input un peu moins haut
      padding: 0 15px;
      border-radius: 12px; // Arrondi inputs
      border: none;
      background-color: $color-bg-hero; // Fond clair dans l'input
      color: $color-dark;
      font-family: inherit;
      font-size: 0.95rem;

      &:focus {
        outline: 2px solid $color-orange;
      }
    }
  }

  .btn-submit {
    width: 100%;
    height: 50px;
    margin-top: 1rem;
    background-color: #0088CC; // Le bleu de la maquette
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 25px; // Bouton très arrondi
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.02);
      filter: brightness(1.1);
    }
  }

  .switch-link {
    display: block;
    margin-top: 1.5rem;
    color: white;
    text-decoration: underline;
    font-size: 0.9rem;
    cursor: pointer;
    &:hover { color: $color-orange; }
  }

  .error-msg {
    color: #ff6b6b;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
}
