<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-left">
      <span class="brand">PortFIL'io</span>
      <p class="promo">Formation Ingénieur FIL – A1 (2025-2026)</p>
    </div>

    <div class="footer-links">
      <a routerLink="/about">À propos</a>
      <a routerLink="/legal">Mentions légales</a>
      <a routerLink="/contact">Contact</a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 - Développé par Quentin, Aloïs & Jules - Site codé avec Gemini.</p>
  </div>
</footer>
